  .blue{
    background-color:#2D6DCC;
  }
  .red{
    background-color: #C81623;
  }
  .black{
    background-color: #222222;
  }
  .orange{
    background-color: #FF4A00;
  }
  .yellow{
    background-color: #FFD200
  }
  .green{
    background-color: #19A97B;
  }